
body {
	
	margin: auto;
   padding: 150px;
   height: 200px;
   width: 40%;
   text-align: center;
   
   background: url(img/susi2.png) top center no-repeat, url(img/honka4.jpg) center center no-repeat;  
	 background-attachment: local, fixed;
	 
   
}

p{
   color: black;
   font-family: "Helvetica", Times, sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	font-variant: small-caps;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111;
}

h1 {
   color: yellow;
   font-family: "Helvetica", Times, sans-serif;
	font-size: 6em;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 5px 5px 5px gray;

}
h1:first-child{
	background-color:rgba(0,0,0,0.5);
	}
h1::first-letter{
	font-size: 1.10em;}
h2 {
   color: white;
   font-family: "Helvetica", Times, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-variant: small-caps;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111;
}
h3 {
   color: white;
   font-family: "Helvetica", Times, sans-serif;
	font-size: 2em;
	font-weight: bold;
	font-variant: small-caps;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111;
}
nav ul {
	
	 text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    margin-top: 150px;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    text-align: center;
    


}
nav li {
	display: inline-block;
	float: none;
	background-color: #333;
	text-align: center;
	border-radius: 20px;
	
	

	
}
nav li a {
	display: block;
	color: white;
	padding: 8px;
	text-decoration: none;
	transition: all .2s ease-in-out;

}

  
 

#picture{
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	opacity: 0.65;
  transition: all 1s ease-in-out;
   box-shadow: 5px 10px 8px #111;

}
#picture:hover{
	opacity: 1.0;
	transform: scale(1.1);
	transform: rotate(5deg);
	}
#colorthingy{
	
	background-image: linear-gradient(to bottom right, white, black);
  border-style:solid;
  border-color: black;
  width: 500px;
  height: 500px;
  position: relative;
  box-shadow: 5px 5px 10px #111;
	margin: auto;
   border: 2px solid;
	border-color:black;
}

.list {
	list-style-type: none;
	color: white;
   font-family: "Helvetica", Times, sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	font-variant: small-caps;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111;
}
#backgroundtest1{
        width:200px;
        opacity: 0.5;   
        position: absolute;
        left: 0;
        
}
#backgroundtest2{
        width:200px;
        opacity: 0.5;   
        position: absolute;
        bottom: 0;
        left:0;
}
#backgroundtest3{
        width:200px; 
        opacity: 0.5;  
        position: absolute;
        bottom: 0; 
        right:0;
}
#backgroundtest4{
        width:200px;  
         opacity: 0.5;  
        position: absolute; 
		  left: calc(50% - 100px);
		  top: calc(50% - 75px);
}
#backgroundtest5{
        width:200px;
        opacity: 0.5;   
        position: absolute;
        right:0;
        top:0;

}

        
footer{
   color: white;
	font: small-caps bold 15px/1 sans-serif;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111;
}
