@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
}
body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url(../w3images/maisema1.JPG);
	min-height: 100%;
}
/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("../w3images/maisema1.JPG");
	min-height: 400px;
}
/* Third image (Contact) */
.bgimg-3 {
	background-image: url("../w3images/maisema1.JPG");
	min-height: 400px;
}
.painpicture {
	
	max-height: 20%;
	max-width: 50%;
	
}
.w3-wide {
	letter-spacing: 10px;
}
.w3-hover-opacity {
	cursor: pointer;
}
.w3-top {
	color: #E1CCCC;
}
/*PAINSLIDER STARTS*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align:center;
}

/* The painslider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3;
  outline: none; /* Remove outline */
  opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  text-align:center;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/*PAINSLIDER STOPS*/



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: scroll;
	min-height: 400px;
	}
}
